<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="1cac3f74-b0d8-4cff-9653-635bd2ee8013" Name="TestApp" Language="2052" Version="1.0.0.0" Manufacturer="TestCo" UpgradeCode="5922e288-f75a-4455-8d0d-0c3c570ab281" Codepage="936">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="已安装更新版本的TestApp。" />
    <MediaTemplate />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TestApp" />
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="TestApp" Level="1">
      <ComponentRef Id="cmp1" />
    </Feature>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="cmp1" Guid="3430b9dd-f7db-4c79-89e0-c67239f9780e">
        <File Id="file1" Source="D:\sb\MsiBuilder\test_build\dbg_readme.txt" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
  </Product>
</Wix>